*/Debug/*
*/ipch/*
*.log
AntiRansomware/AntiRansomware.VC.VC.opendb
AntiRansomware/AntiRansomware.VC.db
*.suo
AntiRansomware/log.txt
*/x64/*
ProcessHookMonitorWrapper/ProcessHookMonitorWrapper/Debug/*
ProcessHookMonitor/ProcessHook/bin/*
ProcessHookMonitor/ProcessHookMonitor/obj/*
ProcessHookMonitor/ProcessHook/obj/Debug/*
ProcessHookMonitor/ProcessHookMonitor/bin/*
AntiRansomware/packages/*
AntiRansomware/Debug/*
ProcessHookMonitor/ProcessHook/obj/Debug/*
ProcessHookMonitor/ProcessHookMonitor/obj/Debug/*
ProcessHookMonitorWrapper/ProcessHookMonitorWrapper/Debug/*
ProcessHookMonitorWrapper/ProcessHookMonitorWrapper/x64/*
ProcessHookMonitor/ProcessHookMonitorTester/bin/*
ProcessHookMonitor/ProcessHookMonitorTester/obj/*
